body {
  padding-top: 50px;
  background-image: url("/images/field.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.navbar-inverse {
  background-color: #000;
  border-color: #fff;
}
.navbar-header a.navbar-brand {
  color: #ccc;
  font-family: 'Impact', sans-serif;
  font-size: 35px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ccc;
  position: relative;
}
.navbar-form {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
  margin-right: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.jumbotron {
  background: transparent;
  width: 50%;
  margin-bottom: 600px;
}
.jumbotron h1 {
  color: #fff;
  font-size: 80px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-left: -62px;
}
footer {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
}
footer p {
  order-top: 1px solid #000;
}
form.form-inline {
  margin-top: 10px;
}
.well {
  margin-top: 50px;
}
table.table {
  background-color: #fff;
  border-radius: 5px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
